---
// Tags for the Blog and post pages

// Components
// - UI
import Badge from '../Badge.astro'

//Data
import { getCollection } from 'astro:content'
const posts = await getCollection('blog')
const tags = [...new Set(posts.map((post) => post.data.tags).flat())]
const currentPath = new URL(Astro.request.url).pathname
const pathSegments = currentPath.split('/').filter((segment) => segment.length > 0)
const currentTag = pathSegments[pathSegments.length - 1] || ''
---

<div class="tags">
  <Badge link={`/blog/`} name={`All`} type={`${currentTag === 'blog' ? 'primary' : 'neutral'}`} />
  {
    tags.map((tag) => {
      // creat "displayTag" variable to display tag name without a hyphen
      // ex: if tag is "business-tips", displayTag will be "business tips"
      const displayTag = tag.replace(/-/g, ' ')
      return (
        <Badge
          link={`/blog/tags/${tag}`}
          name={displayTag}
          type={`${currentTag === tag ? 'primary' : 'neutral'}`}
        />
      )
    })
  }
</div>

<style>
  .tags {
    @apply mb-6 flex flex-row flex-wrap items-center justify-start gap-2 capitalize;
  }
</style>
